#TỔNG HỢP 
.DS_Store
.idea/
.vscode/
*.log
.env
.env.local

#FRONTEND
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
# # Ignore all .md files in frontend
# frontend/**/*.md

#BACKEND
backend/target/
backend/out/
backend/build/
backend/.gradle/
backend/bin/
backend/.m2
backend/*.iml
backend/*.class
backend/*.jar
backend/*.war
# Ignore all .md files in backend except README.md
backend/*.md
!backend/README.md